<div *ngIf = "user.isBanned">
    <h3 class="text-danger text-center">You are banned man</h3>
</div>

<div *ngIf = "user.role == 'admin'">
    <h3 class="text-primary text-center">You are admin of this Website</h3>
</div>
  
  <div class="container">
    <div class="row">
      <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center">
          <div class="row">
              <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
          </div>
          <div class="row user-detail">
              <div class="col-lg-12 col-sm-12 col-12">
                  <img class="rounded-circle img-thumbnail" src="{{user.avatar}}" alt="{{user.avatar}}">
                  <p>{{user.avatar}}</p>
                  <h5>{{user.username}}</h5>
                  <p><i class="fa fa-envelope" aria-hidden="true"></i> {{user.email}}</p>

                  <hr>
                  <span>Welcome in my app</span>
              </div>
          </div>
          <div class="row user-social-detail">
              <div class="col-lg-12 col-sm-12 col-12">
                  <a target="_blank" href="https://bitbucket.org/hollowdadon/blog"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
                  <a target="_blank"  href="https://hollowdadon-alex-store.herokuapp.com/"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                  <a target="_blank"  href="https://twitter.com/nodejs?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
          </div>
      </div>
    </div>

    <div class="row user-list" *ngIf = "user.role == 'admin'">
        <h3>List of the Users</h3>
        <ul *ngFor="let user of allUsers">
            <a [routerLink]="['/user/', user.username]">{{user.username}}</a>
        </ul>
    </div>

  </div>

<div class="container">
    <input id="photo" type="file" />
    <!-- button to trigger the file upload when submitted -->
    <button type="button" class="btn btn-success" (click)="upload()">
    UPLOAD IMAGE
    </button>
</div>






