<h1>Public profile</h1>

<!--<ul>
  <li>Username: {{username}}</li>
  <li>Email: {{email}}</li>
</ul> -->

<div class="container">
  <div class="row">
    <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
        </div>
        <div class="row user-detail">
            <div class="col-lg-12 col-sm-12 col-12">
                <img class="rounded-circle img-thumbnail" src="{{ownerAvatar}}">
                <h5>{{ownerUsername}}</h5>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> {{ownerEmail}}</p>

                <hr>
                <span>Welcome in my app</span>
            </div>
        </div>
        <div class="row user-social-detail">
            <div class="col-lg-12 col-sm-12 col-12">
                <a target="_blank" href="https://bitbucket.org/hollowdadon/blog"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
                <a target="_blank"  href="https://hollowdadon-alex-store.herokuapp.com/"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                <a target="_blank"  href="https://twitter.com/nodejs?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
  </div>

  <div class="container">
    <button type="button" name="button" class="dropbtn btn btn-danger"  (click)="banUser()"  *ngIf = "!ownerIsBanned">
        Ban User
      </button>
    <button type="button" name="button" class="dropbtn btn btn-success"  (click)="unbanUser()"  *ngIf = "ownerIsBanned">
        Unban User
      </button>
      <a routerLink="/blog"><button [disabled]="processing" type="button" name="button" class="btn btn-primary">Go Back</button></a>
  </div>

</div>

