<h1>Blog feed</h1>

<div *ngIf = "isBanned">
  <h3 class="text-danger text-center">You are banned man</h3>
</div>

<button type="button" name="button" class="btn btn-warning" 
*ngIf="!newBlog && !isBanned" (click)="newBlogForm()">New Post</button>

<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-dark" *ngIf="!newBlog && !isBanned" (click)="reloadBlogs()">
<i class="fa fa-refresh" aria-hidden="true"></i>  Reload Feed</button>

<br>
<br>

  <form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newBlog">

    <div class="form-group">
      <label for="title">Title</label>
      <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
        <input type="text" name="title" class="form-control" placeholder="*Blog Title" autocomplete="off" formControlName="title" />
        <ul class="help-block">
          <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
          <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
          <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or number</li>
        </ul>
      </div>
    </div>
  

    <div class="form-group">
      <label for="body">Body</label>
      <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
        <textarea name="body" rows="8" cols="80" placeholder="*Body" class="form-control" formControlName="body"></textarea>
        <ul class="help-block">
          <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
          <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</li>
        </ul>
      </div>
    </div>
  
    <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
    <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>
    <button class="btn btn-primary" type="button" name="button" (click)="refreshForm()">Refresh all Form</button>
  
  </form>




<div class="row" *ngIf="!newBlog && !isBanned">
  <div class="col-md-4" *ngFor="let blog of blogPosts">
  <div class="card">
          <div class="card-content">
            <div class="card-header-blue">
                 <h1 class="card-heading">{{blog.title}}</h1>
               </div>
               <div class="card-body">
               <p class="card-p">
                {{blog.body}}
                      
                  </p>
             </div>
             <div class="card-footer">
              Posted by: <a [routerLink]="['/user/', blog.owner]">{{blog.owner}}</a>
              <br>
              Date: {{blog.dateOfCreating | date:'MMM dd, yyyy'}}
              <br>
             <div *ngIf  ="username === blog.owner">
               Likes: {{blog.likes}}
               <br>
               Dislikes: {{blog.dislikes}}
             </div>
             <a [routerLink]="['/edit-blog', blog._id]" *ngIf="username === blog.owner"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
             <a [routerLink]="['/delete-blog', blog._id]" *ngIf="username === blog.owner"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
             <div class="dropdown">
               <button type="button" name="button" class="dropbtn btn btn-success" *ngIf="username !== blog.owner"  (click)="like(blog._id)">
                   <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like: {{blog.likes}}
               </button>
               <div class="dropdown-content" *ngIf="role == 'admin'">
                 <a [routerLink]="['/user/', likedBy]" *ngFor="let likedBy of blog.likedBy">{{likedBy}}</a>
               </div>
               <div class="dropdown-content" *ngIf="role !== 'admin'">
                <p *ngFor="let likedBy of blog.likedBy">{{likedBy}}</p>
              </div>
             </div>
             <div class="dropdown">
             <button type="button" name="button" class="dropbtn btn btn-danger" *ngIf="username !== blog.owner"  (click)="dislike(blog._id)">
                 <i class="fa fa-thumbs-down" aria-hidden="true"></i> Dislike: {{blog.dislikes}}
             </button>
             <div class="dropdown-content" *ngIf="role == 'admin'">
              <a [routerLink]="['/user/', dislikedBy]" *ngFor="let dislikedBy of blog.dislikedBy">{{dislikedBy}}</a>
             </div>
             <div class="dropdown-content" *ngIf="role !== 'admin'">
              <p *ngFor="let dislikedBy of blog.dislikedBy">{{dislikedBy}}</p>
             </div>
           </div>
           </div>
          </div>
      </div>
   </div>
</div>