<h1>Delete Post</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>


 <div class="col-md-6" *ngIf="foundBlog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Confirm deleting</h4>
    </div>

    <div class="modal-body">
      <p>Are you sure?</p>
    </div>

    <div class="modal-footer">
      <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="deleteBlog()">Yes</button>
      <a routerLink="/blog"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">No</button></a>
    </div>
  </div>

  <br />

</div>
<div class="col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="card-header-blue">
            <h1 class="card-heading">{{blog.title}}</h1>
        </div>
        <div class="card-body">
            <p class="card-p">
             {{blog.body}}
                   
               </p>
          </div>
          <div class="card-footer">
              Posted by: {{blog.owner}}
              <br>
              Date: {{blog.dateOfCreating | date:'MMM dd, yyyy'}}
              <br>
          </div>
      </div>
    </div>
  </div>
