<h1>Edit Blog</h1>

<div class="row show-hide-message" *ngIf="message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

<form (submit)="updateBlogSubmit()" >
  <div class="form-group">
    <label for="title">Title</label>
    <input [disabled]="processing" type="text" name="title" placeholder="*Title" class="form-control"  [(ngModel)]="blog.title">
  </div>

  <div class="form-group">
      <label for="body">Body</label>
      <textarea [disabled]="processing" name="body" rows="8" cols="80" [(ngModel)]="blog.body" class="form-control" placeholder="*Body"></textarea>
    </div>

    <a [routerLink]="['/delete-blog/', blog._id]"><button [disabled]="processing"
       type="button" name="button" class="btn btn-danger">Delete</button></a>
       <button type="button" name="button" class="btn btn-warning" (click)="goBack()">Go Back</button>
       <button [disabled]="processing" type="submit" name="save" class="btn btn-success">Save Changes</button>

</form>