<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/']">AlexBlogApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a class="nav-link" [routerLink]="['/']"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-address-book" aria-hidden="true"></i> Login</a>
          </li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/register']"><i class="fa fa-sign-in" aria-hidden="true"></i> Register</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/blog']"><i class="fa fa-plus-square" aria-hidden="true"></i> Blog</a>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item">
            <a class="nav-link" href="#" (click)="onLogoutClick()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
          </li>
      </ul>
      </div>
  </nav>